<div class="blockbuster-primary text-center w-50 m-auto mt-5 p-5 rounded">
<h1>Editar Película</h1>

<%= render "form", movie: @movie %>

<br>

<div>
  <%= link_to "Mostrar esta película", @movie, class:'btn btn-yellow' %> |
  <%= link_to "Volver a películas", movies_path, class:'btn btn-yellow' %>
</div>
</div>
