<p style="color: #0dcaf0" class="text-center"><%= notice %></p>

<div class="container rounded rounded-1 blockbuster-primary py-2 px-5">
  <h1 class="text-center">Películas</h1>
  <%= link_to "Nueva película", new_movie_path %>
  <div id="movies">
    <div class="row">
      <% @movies.each do |movie| %>
        <%= render movie %>
      <% end %>
    </div>
  </div>
</div>
