<div class="blockbuster-primary text-center w-50 m-auto mt-5 p-5 rounded">
<h1>Nueva película</h1>

<%= render "form", movie: @movie %>

<br>

<div>
  <%= link_to "Volver a Películas", movies_path, class:'btn bg-primary text-secondary' %>
</div>
</div>
