<p style="color: #0dcaf0" class="text-center"><%= notice %></p>

<div class="container rounded rounded-1 blockbuster-primary py-2 px-5">
  <h1 class="text-center">Clientes</h1>

  <%= link_to "Nuevo Cliente", new_client_path %>

  <div id="clients">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Edad</th>
          <th scope="col">Película</th>
          <th scope="col" colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @clients.each do |client| %>
          <%= render client%>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
